@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #050b14;
  color: #e2e8f0;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

/* Наш кастомний клас для скла */
.glass-panel {
  background: rgba(10, 22, 40, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(0, 240, 255, 0.05);
}